.abs {
    position: absolute;
}

.mainContent-container {
    background-color: red;
}
.mainContent-container section {
    margin: auto;
    width: 500px;
}
.mainContent-container .input_video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.mainContent-container .input_video.selfie {
    transform: scale(-1, 1);
}
.mainContent-container .input_image {
    position: absolute;
}



.canvas-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #980CCC;
    background: linear-gradient(135deg, #980ccc 0%, #4487e9 100%);
    /* padding: 1.2em; */
    border-radius: 8px;
    min-height: 100%;
}
.output-container {
    height: 80%;
    background-color: #151515;
}
.output_canvas {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #151515;
}

.record-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding-top: 1.2em;
    margin: 0 auto;
}
.record-container .record-btn {
    all: unset;
    position: relative;
    display: flex;
    flex-basis: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 20px;
    text-wrap: nowrap;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #dcdacb;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.record-container .record-btn.on {background-color: #7ce456;}
.record-container .record-btn.off {background-color: #ee5a52;}
.record-container .record-btn.disable {background-color: #aeaeae;}



.download-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #a5bad7;
    background: linear-gradient(135deg, #aca2d2 0%, #a5bad7 100%);
    border-radius: 8px 8px 0 0;
    /* padding: 1.2em;
    padding-right: 0; */
    /* padding: 0; */
}
.download-container::after {
    content: "";
    position: absolute;
    bottom: -3em;
    width: 100%;
    height: 3em;
    background-color: #2a5d84;
    border-radius: 0 0 8px 8px;
}
.download-container #head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
    background-color: #2a5d84;
    border-radius: 8px 8px 0 0;
    padding: 1em 0;
    font-size: 2em;
}

.file-list {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    font-size: 1.4em;
}
.file-list:not(:first-child, :last-child) {
    padding: 1.2em 0;
}
.file-list::-webkit-scrollbar {
    width: 6px;
	background-color: #f5f5f5;
}
.file-list::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
.file-list::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 0;
}

.file-list .file-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #606060;
    border-bottom: solid rgb(96, 96, 96, .5) 2px;
    padding: 12px 0;
    width: 100%;
    height: 50px;
}
.file-list .file-group p {
    padding-left: 16px;
}
.file-list .file-group .sub {
    display: flex;
    gap: .6em;
    margin-right: 22px;
}
.file-list .file-group .sub i {
    color: #606060;
    font-size: 1em;
    cursor: pointer;
    transition: color 250ms;
}
.file-list .file-group .sub .ph-file-arrow-down:hover {
    color: #50c005;
}
.file-list .file-group .sub .ph-trash:hover {
    color: #e4342b;
}