.mainWithSidebar {
    display: flex;
}

.mainContent-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    right: 0;
}
.mainContent-container section {
    margin: auto;
    width: 80%;
}

.IntroText {
    /* z-index: 10; */
    padding: 1.6em 0;
    font-size: clamp(.8em, 2vw, 1.2em);
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.IntroText h1 {
    display: flex;
    gap: 8px;
    font-weight: 500;
    color: #bfbfbf;
}
.IntroText h1 div {
    color: #5474c0;
    font-weight: bolder;
}
.IntroText p {
    color: #6f6f6f;
}




/* General Styles */
.menuSelect {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: auto;
    padding: 50px;
    background-color: #212121;
    border-radius: 20px;
}
.menuSelect .topic {
    font-size: 32px;
    color: #fafafa;
}
.menuSelect .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 2rem;
    width: 100%;
}
.menuSelect .btnSlc {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 26px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.menuSelect .btnSlc::after {
    content: url("");
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.menuSelect .btnSlc:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.menuSelect .btnSlc i {
    font-size: 3rem;
    margin-bottom: 15px;
}
.menuSelect .btnSlc h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.menuSelect .container .btnSlc:nth-child(1) {background-color: #62c2c1;}
.menuSelect .container .btnSlc:nth-child(2) {background-color: #ee945c;}

@media (max-width: 768px) {
    .menuSelect .container {
        flex-direction: column;
        align-items: center;
    }
    
    .menuSelect .btnSlc {
        width: 90%;
        height: auto;
    }
}