* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    inset: 0;
    font-family: 'm_1mregular';
    font-size: .8rem;
}

html {
    scroll-behavior: smooth;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}